<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Carros Disponiveis</li>
</ol>

<div class="row"  >
  <div class="col-sm-4 col-md-4 mb-2" *ngFor="let carro of carros">
    <div class="card mb-3" >
      <div class="card-header">
        {{ carro.tipo }}
      </div>
      <img class="card-img-top"
      src="{{ carro.img }}" alt="imagem do carro">
      <div class="card-body">
        <h5 class="card-title">{{ carro.marca }} {{ carro.modelo }}  {{ carro.anoDeFabricacao }} </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Diaria: R$ {{ carro.valorDiaria }}  </li>
          </ul>
        <a href="carros/detalhes/{{carro.id}}" class="btn btn-outline-dark mt-2">Mais detalhes</a>
      </div>
    </div>
  </div>

</div>
