<h1 class="mt-4">Contrato de aluguel</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Listagem</li>
</ol>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-12"></div>
    <table class="table table-hover col-md-12">
      <thead>
        <tr>
          <th>ID Contrato</th>
          <th>Carro</th>
          <th>Cliente</th>
          <th>Email</th>
          <th>Valor</th>
          <th>Inicio</th>
          <th>Fim</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contrato of contratos">
          <td class="text-center">{{ contrato.id }}</td>
          <td>{{ contrato.carro.marca }} {{ contrato.carro.modelo }}</td>
          <td>{{ contrato.cliente.nome }}</td>
          <td>{{ contrato.cliente.email }}</td>
          <td>{{ contrato.valorTotal | currency : "BRL" : true : "1.2-2" }}</td>
          <td>{{ contrato.dataInicio }}</td>
          <td>{{ contrato.dataFim }}</td>
          <td>{{ contrato.statusContrato ? "finalizado" : "em aberto" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
