<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <footer class="footer navbar-fixed-bottom py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted"> M.R.G 2022 Todos os direitos Reservados</div>
                <div>
                    <a href="#">Quem somos</a>
                    &middot;
                    <a href="#">Documentação</a>
                </div>
            </div>
        </div>
    </footer>
    </main>
  </div>
</div>
