<div id="layoutAuthentication" class="bg-dark">
  <main>
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg mt-5 mb-5 ">
            <div class="card-header text-center">
              <h3 class="font-weight-light my-4">Cadastro de usuario</h3>
            </div>
            <div class="card-body" id="content">
              <form #cadastroClienteForm="ngForm" class="mt-2" >
                <div class="form-row ">
                  <div class="form-group col-md-5">
                    <label> Email: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.email" name="email"/>
                  </div>
                    <div class="form-group col-md-4">
                      <label>Senha: </label>
                      <input type="password" class="form-control"
                      >
                      <input type="checkbox">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ml-2 bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <label>Confirmação de email: </label>
                      <input type="email" class="form-control"
                      >
                    </div>
                    <div class="form-group col-md-4">
                      <label>Confirmação de senha: </label>
                      <input type="password" class="form-control"
                      >
                      <input type="checkbox">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ml-2 bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                    </div>
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Nome e sobrenome: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.nome" name="nome">
                  </div>
                  <div class="form-group col-md-3">
                    <label> CPF: </label>
                    <input type="text" class="form-control" maxlength="11"
                    [(ngModel)]="cliente.cpf" name="cpf">
                  </div>
                  <div class="form-group col-md-2">
                    <label>CEP:</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cep" name="cep"
                    (blur)="consultaCep()"
                    >
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label> N° contato: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.numeroTelefone" name="numeroTelefone">
                  </div>
                  <div class="form-group col-md-2">
                    <label>UF:</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.endereco.uf" name="uf"
                  >
                  </div>
                  <div class="form-group col-md-4">
                    <label>Localidade:</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.endereco.localidade" name="localidade">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="">Bairro: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.endereco.bairro" name="bairro">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="">N°: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.endereco.numeroLogradouro" name="numeroLogradouro">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="">logradouro: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.endereco.logradouro" name="logradouro">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="">Complemento: </label>
                    <input type="text" class="form-control" placeholder="ex: casa"
                    [(ngModel)]="cliente.endereco.complemento" name="complemento">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <div class="col-md-12">
                <div class="alert alert-danger text-center" role="alert" *ngIf="falhaDeCadastro == true">
                  Falha ao cadastrar Cliente!!
                </div>
                <div class="alert alert-success text-center" role="alert" *ngIf="sucesso == true">
                  Cliente Cadastrado com sucesso!! Volte e faça login para continuar.
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <div class="button-container text-center">
                <button  type="submit" class="btn btn-success mr-3" (click)="cadastrar()"> <i class="fa fa-check"></i>  Cadastrar </button>
                <button type="button" class="btn btn-primary" (click)="voltar()"> <i class="fa fa-arrow-left" ></i> Voltar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{{ cliente | json }}
