<div id="layoutAuthentication" class="bg-dark">
  <main>
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card shadow-lg mt-5 mb-5 ">
            <div class="card-header text-center">
              <h3>Cadastro de usuario</h3>
            </div>
            <div class="card-body" id="content">
              <form #cadastroClienteForm="ngForm" class="mt-2">
                <div class="form-row ">
                  <div class="form-group col-md-5">
                    <label> Email: </label>
                    <input type="email" class="form-control"
                    [ngModel]="cliente.email" name="email"/>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Senha: </label>
                    <input type="password" class="form-control"
                    >
                    <input type="checkbox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ml-2 bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-5">
                    <label>Confirmação de email: </label>
                    <input type="email" class="form-control"
                    [(ngModel)]="cliente.email" name="email">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Confirmação de senha: </label>
                    <input type="password" class="form-control"
                    >
                    <input type="checkbox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ml-2 bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Nome e sobrenome: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.nome" name="nome">
                  </div>
                  <div class="form-group col-md-3">
                    <label> CPF: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.cpf" name="cpf">
                  </div>
                  <div class="form-group col-md-2">
                    <label>CEP:</label>
                    <input type="text" class="form-control" maxlength="8"
                    [(ngModel)]="cepForm.cep" name="cep" (blur)="consultaCep()">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label> N° contato: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.numeroTelefone" name="numeroTelefone">
                  </div>
                  <div class="form-group col-md-2">
                    <label>UF:</label>
                    <input type="text" class="form-control" maxlength="2"
                    [value]="cepForm.uf"
                  >
                  </div>
                  <div class="form-group col-md-4">
                    <label>Localidade:</label>
                    <input type="text" class="form-control"
                    [value]="cepForm.localidade">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="">Bairro: </label>
                    <input type="text" class="form-control"
                    [value]="cepForm.bairro">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="">N°: </label>
                    <input type="text" class="form-control"
                    >
                  </div>
                  <div class="form-group col-md-3">
                    <label for="">logradouro: </label>
                    <input type="text" class="form-control"
                    [value]="cepForm.logradouro">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="">Complemento: </label>
                    <input type="text" class="form-control" placeholder="ex: casa"
                    >
                  </div>
                </div>
                {{ cliente | json }}
              </form>
            </div>
            <div class="card-footer ">
              <div class="button-container text-center">
                <button class="btn btn-success mr-3">Cadastrar</button>
                <button class="btn btn-danger">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
